
@{
    ViewBag.Title = "FlightsPage";
}
<span>Welcome Ajay</span><br />
<span>Current Station : MAA</span>
<br /><br />
<form method="post">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Flight Number</th>
                <th>Flight Model</th>
                <th>Departure</th>
                <th>Status of Tasks</th>
            </tr>
        </thead>
        <tbody>

            @foreach (var item in ViewBag.FlightDetails)
            {
                <tr>
                    <td>@item.FlightNumber</td>
                    <td>@item.FlightModel</td>
                    <td>@item.Departure AM</td>
                    <td><button type="submit" name="flightNumber" class="btn btn-primary" value=@item.FlightNumber>Status Of Tasks</button></td>
                </tr>
            }
        </tbody>
    </table>
</form>

